<section class="beneficios">
  <div class="container">
    <div class="caixa-titulo">
      <h1 class="titulo">Seguros que você possa estar procurando</h1>
      <h2 class="subtitulo">Separamos por grupos nossas categorias de seguros</h2>
    </div>

    <ul class="beneficios-conteudo">
      <span class="beneficio-lista-responsiva">
        <li class="beneficio">
          <span>
            <img src="../../../assets/img/Young woman meditating in nature surrounded by butterflies.svg" alt="" >
            <div class="beneficios-texto">
              <h3 class="beneficio-titulo">Paz de espírito</h3>
              <p class="beneficio-texto">Proporcione para você uma vida sem preocupações de como está
                sendo tratada seus seguros</p>
            </div>
          </span>
        </li>
        <li class="beneficio">

          <span>
            <img src="../../../assets/img/Frame 55.svg" alt="" >
            <div class="beneficios-texto">
              <h3 class="beneficio-titulo">Paz de espírito</h3>
              <p class="beneficio-texto">Proporcione para você uma vida sem preocupações de como está
                sendo tratada seus seguros</p>
            </div>
          </span>
        </li>
      </span>

      <span class="beneficio-lista-responsiva">
        <li class="beneficio">
          <span>
            <img src="../../../assets/img/Frame 58.svg" alt="" class="beneficio-img">
            <div class="beneficios-texto">
              <h3 class="beneficio-titulo">Paz de espírito</h3>
              <p class="beneficio-texto">Proporcione para você uma vida sem preocupações de como está
                sendo tratada seus seguros</p>
            </div>
          </span>
        </li>
        <li class="beneficio">
          <span>
            <img src="../../../assets/img/Frame 57.svg" alt="" class="beneficio-img">
            <div class="beneficios-texto">
              <h3 class="beneficio-titulo">Paz de espírito</h3>
              <p class="beneficio-texto">Proporcione para você uma vida sem preocupações de como está
                sendo tratada seus seguros</p>
            </div>

          </span>
        </li>
      </span>

    </ul>
  </div>
</section>
<section class="quem-somos">
  <div class="container">
    <div class="caixa-titulo">
      <h1 class="titulo">Seguros que você possa estar procurando</h1>
      <h2 class="subtitulo">Separamos por grupos nossas categorias de seguros</h2>
    </div>
    <p class="quem-somos-texto">
      Lorem ipsum dolor sit amet consectetur. Pharetra augue tellus quam interdum adipiscing porta turpis
      pharetra mi. Odio pellentesque tortor tincidunt morbi molestie egestas tincidunt interdum. In in leo
      velit in. Diam quis egestas integer posuere morbi.
    </p>
    <p class="quem-somos-texto">
      Lorem ipsum dolor sit amet consectetur. Pharetra augue tellus quam interdum adipiscing porta turpis
      pharetra mi. Odio pellentesque tortor tincidunt morbi molestie egestas tincidunt interdum. In in leo
      velit in. Diam quis egestas integer posuere morbi.
    </p>

  <div class="marcas">

      <div class="caixa-titulo-marcas">
        <h1 class="marcas-titulo">Nossos seguros parceiros</h1>
        <img class="marcas-seta" src="../../../assets/img/seta preta.png" alt="">
      </div>

    <ul class="marca-conteudo-desktop">
      <span class="marca-linha">

        <li class="marca"><img src="../../../assets/img/amil-logo-1 1.svg" alt=""></li>
        <li class="marca"><img src="../../../assets/img/omint-seguros-logo 1.svg" alt=""></li>

        <li class="marca"><img src="../../../assets/img/one-health-logo-F253C532B6-seeklogo 1.svg" alt=""></li>
      </span>
      <span class="marca-linha">
        <li class="marca"><img src="../../../assets/img/R (3) 1.svg" alt=""></li>
        <li class="marca"><img src="../../../assets/img/Porto-Seguro-Novo-vector-logo-Copy-1 1.svg" alt=""></li>
        <li class="marca"><img src="../../../assets/img/grupo-notredame-intermedica-logo-6 1.svg" alt=""></li>
      </span>
      <span class="marca-linha">
        <li class="marca"><img src="../../../assets/img/bradesco-seguros-logo-1-1 1.svg" alt=""></li>
        <li class="marca"><img src="../../../assets/img/logo-sulamerica-2048 1.svg" alt=""></li>
        <li class="marca"><img src="../../../assets/img/prevent-senior-logo 1.svg" alt=""></li>
      </span>

    </ul>

    <ul class="marca-conteudo-mobile">
      <span class="marca-mobile">

        <li class="marca"><img src="../../../assets/img/amil-logo-1 1.svg" alt=""></li>
        <li class="marca"><img src="../../../assets/img/omint-seguros-logo 1.svg" alt=""></li>


      </span>
      <span class="marca-mobile">
        <li class="marca"><img src="../../../assets/img/one-health-logo-F253C532B6-seeklogo 1.svg" alt=""></li>
        <li class="marca"><img src="../../../assets/img/R (3) 1.svg" alt=""></li>

      </span>
      <span class="marca-mobile">
        <li class="marca"><img src="../../../assets/img/Porto-Seguro-Novo-vector-logo-Copy-1 1.svg" alt=""></li>
        <li class="marca"><img src="../../../assets/img/grupo-notredame-intermedica-logo-6 1.svg" alt=""></li>
      </span>
      <span class="marca-mobile">
        <li class="marca"><img src="../../../assets/img/bradesco-seguros-logo-1-1 1.svg" alt=""></li>

        <li class="marca"><img src="../../../assets/img/prevent-senior-logo 1.svg" alt=""></li>
      </span>
      <span class="marca-mobile">
        <li class="marca"><img src="../../../assets/img/logo-sulamerica-2048 1.svg" alt=""></li>
      </span>

    </ul>
  </div>
</div>
</section>
<app-accordion></app-accordion>
