<section class="banner">
    <div class="cover-image ">
      <div class="banner-conteudo">
        <div class="banner-texto">
          <!-- <div class="caixa-logo">
            <img src="../../../assets/img/logo.png" alt="" class="logo">
          </div> -->
          <h2 class="banner-titulo">Obtenha um seguro em que você possa se sentir confiante.</h2>
          <p-button class="btn-orcamento-banner">FAZER ORÇAMENTO</p-button>
        </div>

        <div class="banner-caixa-lista">

            <ul class="topico-caixa">
              <li class="topico a">TesteTeste</li>
              <li class="topico b ">Teste</li>
              <li class="topico c">Teste</li>
            </ul>
        </div>
      </div>
      <img src={{back}} alt="" id="intro" class="back">
    </div>
</section>
<router-outlet></router-outlet>
